node_modules/
bower_components/
*.log

build/
dist/

# Webpack builds
client/src/public/bundle.js
client/src/public/bundle.map.js

# Keys
server/config/keys.js

client/src/public/bundle.js
client/src/public/bundle.js.map

.DS_Store