body{
  background-color: #ECEFF1;
}
video{
  height: inherit;
  width: inherit;
}
.dashBoardButtons {
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  background: url('../src/public/img/mountains.jpeg') no-repeat center center fixed;
  background-size: cover;
}
.chat-container {
  display: flex;
}

.center {
  text-align: center;
}

.vc-paper {
  height: 450px;
  width: 600px;
  margin: 20px;
  /* display: inline-block; */
}

.outbound-video {
  position: absolute;
  height: 75px;
  width: 100px;
  z-index: 2;
  top: 515px;
  left: inherit;
}

.inbound-container {
/*  position: absolute;
  height: inherit;
  width: inherit;*/
}

video {
  height: 450px;
  width: 600px;
}

.card-paper {
  width: 300px;
  height: 200px;
  margin: 20px;
}

.text-paper {
  width: 300px;
  height: 150px;
  margin: 20px
}

#videoChat {
  height: 75px;
  width: 100px;
}
