body{
  background-color: #ECEFF1;
}
.dashBoardButtons {
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  background: url('../src/public/img/mountains.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.chat-container {
  height: 100%;
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
}

.inbound-video {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.outbound-video {
  height: 75px;
  position: absolute;
}

.center {
  text-align: center;
}
/*.innerDrawer {
  background-color: blue; 
}*/

